body,
html,
#app {
  height: 100vh;
  margin: 0;
}

* {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

a {
  text-decoration-line: none;
  color: black;
}

a:visited {
  color: inherit;
}
