@media only screen and (max-width: 600px) {
  #all-movies {
    grid-template-columns: auto auto;
  }

  #movie-card {
    width: auto;
    height: 200px;
  }
}

body,
html,
#app {
  height: 100vh;
  margin: 0;
}

* {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

a {
  text-decoration-line: none;
  color: black;
}

a:visited {
  color: inherit;
}
